<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Walking to the Moon</title>
	<meta charset="utf-8" />

	<script src="http://code.createjs.com/easeljs-0.7.1.min.js"></script>
	<style>
		*{
			padding:0px;
			border:0px;
			margin:0px;
			/*background-color: #000;*/
		}

	</style>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/hero.js"></script>
	<script type="text/javascript">
		
		(function(scope){
			function MovesData(){
				this.initialize();
			}
			var m = MovesData.prototype;

			m.initialize = function(){
				this.steps = <%= steps %>
				this.username ="Charles";
			}
			m.walking = function(){
				this.steps -=1;
			}
			m.getNewData = function(){
				console.log("get new data from moves");
			}
			scope.MovesData  = MovesData;
		})(window);
		
	</script>
	<script type="text/javascript">
		var moves = new MovesData();
	</script>
</head>
<body>
						
		<p>Here is the first game page</p>
		
</body>
</html>
